#root {
  font-family: sans-serif;
  color: #00cb78;
}

.App {
  background-color: #454545;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.todo-item {
  display: flex;
  align-items: center;
  width: 60%;
}

.done {
  color: red;
  text-decoration: line-through;
}
